.body-page{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagen-logo{
    border-radius: 90%;
    vertical-align: middle;
    margin-right: 8px;
}
.btn-nav{
    text-decoration: none;
    color:#39ff14;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
    box-shadow: #00a2ff 2px 2px 2px;
    background-color: #00a2ff;
    padding: 8px 16px;
    border-radius: 8px;

}
.imagen-presentacion{
    height: 250px;
    width: 290px;
}
.nav-0{
    
    position: relative;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    padding: 10px;
    top: -80px;
    
    
}
.nav-1{
    margin-top: -10px;
    margin: 0 10px;
    padding-bottom: 10px;
    padding: 2.5px;
}
.button-search{
    background-color: #39ff14;
    color: #ffffff;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 8.8px;
    box-shadow: #39ff14 1px 1px 1px;
    transition: background-color 0.3s;

}
.container-carrito{
    color: #39ff14;
    padding: 10px;
    margin: 10px;
}
.btn-carrito{
    
    background-color: #00a2ff;
    border-radius: 8px;
    padding: 7px 7px;
    margin: 3px;
    box-shadow: #00a2ff 2px 2px 2px;
    cursor: pointer;
}
.container-carro{
    color: #39ff14;
    padding: 5px;
    margin: 5px;
}